.div,.bgcolor{
    height: 100px;
    width: 100%;
    color: white;
    background: darkgoldenrod;
}
body{
    background-color: brown;
}
@media only screen and (orientation:landscape){
    body{
        background-color: lightblue;
    }
    .bgcolor{background: darkseagreen;}
}
@media only screen and (max-width:600px){
    .div{background: black;}
}
@media only screen and (min-width:600px){
    .div{background: rgb(206, 40, 192);}
}
@media only screen and (min-width:768px){
    .div{background: red;}
}
@media only screen and (min-width:992px){
    .div{background: blue;}
}
@media only screen and (min-width:1200px){
    .div{background: rgb(51, 255, 0);}
}